@font-face {
  font-family: "Clash Grotesk";
  src: url("../fonts/ClashGrotesk-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-stretch: 100%;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "Clash Display";
  src: url("../fonts/ClashGrotesk-Variable.ttf") format("truetype");
  font-weight: 600 700;
  font-style: normal;
  font-display: optional;
}
